.pageWrapper {
  display: flex;
}

.navbar {
  box-shadow: none !important;
}

.navbar_menu {
  width: 100vw;
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in;
  visibility: hidden;
}

.navbar_menu.active {
  visibility: visible;
  opacity: 1;
  height: calc(100vh - 72px);
  bottom: 0;
  z-index: 1000;
}

.mobilenav_links {
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: #0060a405;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.sidenav_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 100px 10px 10px !important;
  text-decoration: none;
  width: 100%;
}

.navlink.active {
  background-color: #0060a414;
}

.outlet_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
  min-height: 100vh;
}